

<h1> Coming soon ! This pase is for Artificial Intelligence </h1> 

<div class="play-container">
    <p>Find some important infomation: clicked link as below.</p>
    <ol>
        <li>  
            <p>  My git hub website
               <a class="site" href="https://sumonh1984.github.io/my-app2/">Link 1</a>
            </p>
            <p>  How to upload file and then deploy it as a server
                <a class="site" href="https://blog.bitsrc.io/deploy-your-angular-project-to-github-pages-7cbacb96f35b/">Link 1</a>
             </p>
        </li>
       
       
       
      </ol>      
</div>