
<header>
<div class=" container">
 <!-- <a [routerLink]="['/']">
    <h1>My Store</h1>
  </a> -->
  
  <a href="#" class="logo"> My First app </a>
 
  <nav>  <ul>
<!-- Search form -->
         <li> <a href="#" routerLink="/">Home</a></li>
         <li> <a href="#" routerLink="/list">ML</a></li>
         <li> <a href="#" routerLink="/list1">DL</a></li>
         <li> <a href="#" routerLink="/list2">AI</a></li>
         <li> <a href="#" routerLink="/list2">Blogs</a></li>
      <!--  <li> <a routerLink="/cart" class="button fancy-button"> 
              <i class="material-icons">shopping_cart</i>Checkout </a>  
         </li> -->
        </ul>
        
  </nav>
 
</div>

</header>

<div class="container">
  <router-outlet></router-outlet>
</div>

