   

<h1>Welcome to my website! </h1>

<div class="container">
    <div class="image">
     <!--   <img src="assets/image/image_S.jpeg" alt="hudi1"> --> 
        <img src="assets/image/image_S.jpeg" id="circle">
            <h3> Sumon Hossain </h3>                              
    </div>
</div>

<div class="play-container1">
    <p>Find some important infomation: clicked times.</p>
    <ol>
        <li>  
            <p> For a bangla song
               <a class="site" href="https://www.youtube.com/watch?v=MbM_2QQh6pg&list=RDMbM_2QQh6pg&start_radio=1">Song 1</a>
            </p>
        </li>
        <li> <p> For corona world meter:
              <a class="site" href="https://www.worldometers.info/coronavirus/">link in website</a>
            </p>
        </li>
        <li> <p> My Git hub
            <a class="site" href="https://github.com/sumonh1984">My thesis book</a>
           </p>
        </li>
        <li> <p> My thesis book link on git hub
            <a class="site" href="https://github.com/sumonh1984/thesis_Sumon_PhD.git">My thesis book</a>
           </p>
        </li>
        <li> <p> Stephan Trenn
            <a class="site" href="https://stephantrenn.net/">link</a>
           </p>
        </li>
        <li> <p> My Research Gate
            <a class="site" href="https://www.researchgate.net/profile/M_Sumon_Hossain">link</a>
           </p>
        </li>
        <li> <p> My Rug address
            <a class="site" href="https://www.rug.nl/staff/s.hossain/research">link</a>
           </p>
        </li>
        <li> <p> My twitter
            <a class="site" href="https://twitter.com/sumonh1984">link</a>
           </p>
        </li>
        <li> <p> My Linkedin
            <a class="site" href="https://www.linkedin.com/in/md-sumon-hossain-197152ba/">link</a>
           </p>
        </li>
        <li> <p> My Google scholar
            <a class="site" href="https://scholar.google.com/citations?user=VebQqOYAAAAJ&hl=en">link</a>,
            <a class="site" href="https://scholar.google.com/citations?user=VebQqOYAAAAJ&hl=en&oi=sra">link</a>
           </p>
        </li>
      </ol>      
</div>

<div class="play-container">
    <p>Find some important infomation: clicked times.</p>
    <ol>
        <li>  
            <p> For a bangla song
               <a class="site" href="https://www.youtube.com/watch?v=MbM_2QQh6pg&list=RDMbM_2QQh6pg&start_radio=1">Song 1</a>
            </p>
        </li>
        <li> <p> For corona world meter:
              <a class="site" href="https://www.worldometers.info/coronavirus/">link in website</a>
            </p>
        </li>
        <li> <p> My Git hub
            <a class="site" href="https://github.com/sumonh1984">My thesis book</a>
           </p>
        </li>
        <li> <p> My thesis book link on git hub
            <a class="site" href="https://github.com/sumonh1984/thesis_Sumon_PhD.git">My thesis book</a>
           </p>
        </li>
        <li> <p> Stephan Trenn
            <a class="site" href="https://stephantrenn.net/">link</a>
           </p>
        </li>
        <li> <p> My Research Gate
            <a class="site" href="https://www.researchgate.net/profile/M_Sumon_Hossain">link</a>
           </p>
        </li>
        <li> <p> My Rug address
            <a class="site" href="https://www.rug.nl/staff/s.hossain/research">link</a>
           </p>
        </li>
        <li> <p> My twitter
            <a class="site" href="https://twitter.com/sumonh1984">link</a>
           </p>
        </li>
        <li> <p> My Linkedin
            <a class="site" href="https://www.linkedin.com/in/md-sumon-hossain-197152ba/">link</a>
           </p>
        </li>
        <li> <p> My Google scholar
            <a class="site" href="https://scholar.google.com/citations?user=VebQqOYAAAAJ&hl=en">link</a>,
            <a class="site" href="https://scholar.google.com/citations?user=VebQqOYAAAAJ&hl=en&oi=sra">link</a>
           </p>
        </li>
      </ol>      
</div>